<h1 style="margin-left:15px;">Matrix</h1>
<div ng-if="inProgress" class="backgroundCover">
    <div class="loader">Loading...</div>
    <div ng-if="saveProgress" class="center">
        Your work is being saved and validated. This may take up to 30 seconds.
        </br>
        Please do not refresh or navigate away from this page.
    </div>
    <div ng-if="committProgress" class="center">
        Your work is being committed. This may take up to a minute.
        </br>
        Please do not refresh or navigate away from this page.
    </div>
    <div ng-if="classifyProgress" class="center">
        Your work is being classified. This may take a few minutes.
        </br>
        Please do not refresh or navigate away from this page.
    </div>
</div>


<div class="col-md-12 row">
    <form id="upload" onsubmit="init()" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>.TSV Upload</legend>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <div>
                <label for="fileselect">Files to upload:</label>
                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                <div id="filedrag">or drop files here</div>
            </div>
            <div id="submitbutton">
                <button type="submit">Upload Files</button>
            </div>
        </fieldset>
    </form>
    <div id="messages">
        <p>Status Messages</p>
    </div>
    
    <table class="table table-striped">
            <tr>
                <th>Parent Concept Id</th>
                <th ng-repeat="(key, value) in headers track by $index">{{value}}</th>
            </tr>
            <tr ng-repeat="item in results">
                <td ng-class="retrieveClass('parentConceptID')" tooltip="{{errors['parentConceptID']}}">
                    <span >{{item.ParentConceptID}}</span>
                </td>
                <td ng-class="retrieveClass(value)" ng-repeat="(key, value) in unParsedHeaders track by $index" tooltip="{{errors[value]}}">
                    <span >{{item[value]}}</span>
                </td>
            </tr>
    </table>
</div>
<div class="col-md-12 row">
    <button style="margin-right:10px" ng-disabled="!loaded" class="btn btn-primary col-md-2" ng-click="saveWork()">Save and Validate Work</button>
    <button style="margin-right:10px" ng-disabled="!validationPassed && !committed" class="btn btn-primary col-md-2" ng-click="commitWork()">Commit Work</button>
    <button style="margin-right:10px" ng-disabled="!committed" class="btn btn-primary col-md-2" ng-click="classifyWork()">Classify Work</button>
</div>
<div class="col-md-12 row">
    <div ng-if="validationPassed">
        Work has been saved and successfully passed validation.    
    </div>
    </br>
    <div ng-if="validationFailed">
        Work has been saved but failed validation
    </div>
    </br>
    <div ng-if="committed">
        Your work has been committed. The task id is {{taskId}}    
    </div>
    </br>
</div>

<div class="col-md-12 row">
    <div ng-if="classified">  
        <div>
            Equivalence Report By Concept (matrix Row) (table per equivalance):
        </div>
        <div class="col-md-12 row" ng-repeat="item in equivalenceReport">
            <table class="col-md-3" ng-repeat="row in item.equivalentConcepts">
                <tr>
                    <th>Id</th>
                    <th>Label</th>
                </tr>
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.label}}</td>
                </tr>
            </table>
            </br>
        </div>
        </br>
        <div>
            Relationship Changes Report:
        </div>
        <table ng-if="classified" class="table table-striped">
            <tr>
                <th>Nature of Change</th>
                <th>Source Id</th>
                <th>Type Id</th>
                <th>Destination Id</th>
                <th>Destination Negated</th>
                <th>Group</th>
                <th>Union Group</th>
                <th>Modifier</th>
            </tr>
            <tr ng-repeat="item in relationshipChangeReport">
                <td>{{item.changeNature}}</td>
                <td>{{item.sourceId}}</td>
                <td>{{item.typeId}}</td>
                <td>{{item.destinationId}}</td>
                <td>{{item.destinationNegated}}</td>
                <td>{{item.group}}</td>
                <td>{{item.unionGroup}}</td>
                <td>{{item.modifier}}</td>
            </tr>
        </table>
        
        </br>
    </div>
    
</div>