h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
}

h2
{
	font-size: 1.3em;
}

legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}

.error {
    background: red;   
}

.backgroundCover {
    background:black;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.4;
    z-index:1000;
}

.spinnerContainer {
    z-index:1100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.thing {
  height: 30px;
  width: 6px;
  background: #f2f2f2;
  position: absolute;
  -webkit-animation: something_maybe_cool_idk 2s infinite ease;
          animation: something_maybe_cool_idk 2s infinite ease;
}
.thing:nth-child(1) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.thing:nth-child(2) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.thing:nth-child(3) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.thing:nth-child(4) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.thing:nth-child(5) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.thing:nth-child(6) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.thing:nth-child(7) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.thing:nth-child(8) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.thing:nth-child(9) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.thing:nth-child(10) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.thing:nth-child(11) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}
.thing:nth-child(12) {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes something_maybe_cool_idk {
  50% {
    background: blue;
    -webkit-transform-origin: 50% -170%;
            transform-origin: 50% -170%;
  }
}

@keyframes something_maybe_cool_idk {
  50% {
    background: blue;
    -webkit-transform-origin: 50% -170%;
            transform-origin: 50% -170%;
  }
}