<h1 style="margin-left:15px;">Matrix</h1>
<div class="col-md-12 row">
    <form id="upload" onsubmit="init()" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>.TSV Upload</legend>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <div>
                <label for="fileselect">Files to upload:</label>
                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                <div id="filedrag">or drop files here</div>
            </div>
            <div id="submitbutton">
                <button type="submit">Upload Files</button>
            </div>
        </fieldset>
    </form>
    <div id="messages">
        <p>Status Messages</p>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Parent Concept Id</th>
                <th ng-repeat="(key, value) in headers">{{value}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
        </tbody>
    </table>
</div>