<h1 style="margin-left:15px;">Matrix</h1>
<div class="col-md-12 row">
    <form id="upload" onsubmit="init()" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>.TSV Upload</legend>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
            <div>
                <label for="fileselect">Files to upload:</label>
                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                <div id="filedrag">or drop files here</div>
            </div>
            <div id="submitbutton">
                <button type="submit">Upload Files</button>
            </div>
        </fieldset>
    </form>
    <div id="messages">
        <p>Status Messages</p>
    </div>
    
    <table class="table table-striped">
            <tr>
                <th>Parent Concept Id</th>
                <th ng-repeat="(key, value) in headers track by $index">{{value}}</th>
            </tr>
            <tr ng-repeat="item in results">
                <td ng-class="retrieveClass('parentConceptID')" >
                    <span tooltip="{{errors['parentConceptID']}}">{{item.ParentConceptID}}</span>
                </td>
                <td ng-class="retrieveClass(value)" ng-repeat="(key, value) in unParsedHeaders track by $index">
                    <span tooltip="{{errors[value]}}">{{item[value]}}</span>
                </td>
            </tr>
    </table>
</div>
<div class="col-md-12 row">
    <button style="margin-right:10px" ng-disabled="!loaded" class="btn btn-primary col-md-2" ng-click="saveWork()">Save and Validate Work</button>
    <button style="margin-right:10px" ng-disabled="!validationPassed" class="btn btn-primary col-md-2" ng-click="commitWork()">Commit Work</button>
    <button style="margin-right:10px" ng-disabled="!committed" class="btn btn-primary col-md-2" ng-click="classifyWork()">Classify Work</button>
</div>
<div class="col-md-12 row">
    <div ng-if="validationPassed">
        Work Has been saved and Successfully passed Validation.    
    </div>
    </br>
    <div ng-if="validationFailed">
        Work Has been saved but failed Validation
    </div>
    </br>
    <div ng-if="committed">
        Your work has been Committed. The Task Id is {{taskId}}    
    </div>
    </br>
</div>

<div class="col-md-12 row">
    <div ng-if="classified">  
        <div>
        Equivalence Report:
        {{equivalenceReport | prettyJSON}}
        </div>
        </br>
        <div>
            Relationship Changes Report:
            {{relationshipChangeReport | prettyJSON}}
        </div>
        </br>
    </div>
    
</div>