<h2>New Logical Model:</h2>
<div class="col-md-12 row">
    <span>
       Select a Logical Model to Load:
    </span>
    <span>
        <select ng-model="logicalModelToLoad">
            <option>Please Select An Option</option>
            <option ng-repeat="item in logicalModels" value="{{item}}">{{item}}</option>
        </select>
    </span>
   <span>
        <button class="btn btn-primary" ng-click="loadLogicalModel()">Load</button>
    </span>
     <span>
        <button class="btn btn-primary" ng-click="clearLogicalModel()">Clear</button>
    </span>
    <span>
    <button class="btn btn-primary" style="margin-right:10px;"ng-click="saveLogicalModel()">Save Logical Model</button>
     </span>
    <span class="col-md-2" ng-show="logicalSuccess">Logical Model Successfully Saved.</span>
</div>
<div class="col-md-12 row">
    <div class="col-md-6">
        </br>
        <textarea class="col-md-12" style="height:300px" id="logicalJsonTextarea" ng-model="logicalJsonString"></textarea>
        <span class="red" ng-if="!logicalWellFormed">JSON is invalid</span>
    </div>
    <div class="col-md-6">
        <form>
            <div class="row">
                <div class="col-md-3">
                    Name
                </div>
                <div class="col-md-3">
                    <input ng-model="logicalJsonData.name"></div>
                </div>
            <div class="row">
                <div class="col-md-3">
                    Domain Name
                </div>
                <div class="col-md-3">
                    <input ng-model="logicalJsonData.domainName"></div>
                </div>
            <div class="row">
                <div class="col-md-3">
                    Definition Status
                </div>
                <div class="col-md-3">
                    <select ng-model="logicalJsonData.definitionStatus">
                        <option>FULLY_DEFINED</option>
                        <option>PRIMITIVE</option>
                    </select>
                </div>
            </div>
            <div style="border: solid 1px black; padding: 0 10px 10px 10px; margin: 10px;" ng-repeat="isA in logicalJsonData.isARestrictions">
				<h4>Is A</h4>
				<div class="row">
					<div class="col-md-3">
						IsA
					</div>
					<div class="col-md-3">
						<input ng-model="isA.conceptId">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Range
					</div>
					<div class="col-md-3">
						<select ng-model="isA.rangeRelationType">
							<option>SELF</option>
							<option>DESCENDANTS</option>
							<option>DESCENDANTS_AND_SELF</option>
						</select>
					</div>
				</div>
				<button class="btn btn-primary" ng-click="removeLogicalModelIsA(isA)">Remove IsA</button>
			</div>
			<button class="btn btn-primary" ng-click="addLogicalModelIsA()">Add IsA</button>
			<div ng-repeat="group in logicalJsonData.attributeRestrictionGroups" style="border: solid 1px black; padding: 0 10px 10px 10px; margin: 10px;">
				<h4>Attribute Group</h4>
				<div ng-repeat="attribute in group">
					Attribute
					<div class="row">
						<div class="col-md-3">
							Type
						</div>
						<div class="col-md-3">
							<input ng-model="attribute.typeConceptId">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Range Concept
						</div>
						<div class="col-md-3">
							<input ng-model="attribute.rangeConceptId">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Range Type
						</div>
						<div class="col-md-3">
							<select ng-model="attribute.rangeRelationType">
								<option>SELF</option>
								<option>DESCENDANTS</option>
								<option>DESCENDANTS_AND_SELF</option>
							</select>
						</div>
					</div>
					<button class="btn btn-primary" ng-click="removeLogicalModelAttribute(group, attribute)">Remove Attribute</button>
				</div>
				<button class="btn btn-primary" ng-click="addLogicalModelAttribute(group)">Add Attribute to Group</button>
			</div>
		</form>
        <!--<json child="logicalJsonData" default-collapsed="false" type="object"></json>-->
    </div>
</div>


<div class="col-md-12 row">
<h2>New Lexical Model:</h2>
   <span>
    Select a Lexical Model to Load:
  </span>
    <span>
        <select ng-model="lexicalModelToLoad">
            <option>Please Select An Option</option>
            <option ng-repeat="item in lexicalModels" value="{{item}}">{{item}}</option>
        </select>
    </span>
   <span>
        <button class="btn btn-primary" ng-click="loadLexicalModel()">Load</button>
   </span>
    <span>
        <button class="btn btn-primary" ng-click="clearLexicalModel()">Clear</button>
    </span>
    <button class="btn btn-primary" style="margin-right:10px" ng-click="saveLexicalModel()">Save Lexical Model</button>
    <div class="col-md-2" ng-show="lexicalSuccess">Lexical Model Successfully Saved.</div>
</div>
<div class="col-md-12 row">
    <div class="col-md-6">
        </br>
        <textarea class="col-md-12" style="height:300px" id="lexicalJsonTextarea" ng-model="lexicalJsonString"></textarea>
        <span class="red" ng-if="!lexicalWellFormed">JSON is invalid</span>
    </div>
    <div class="jsonView col-md-6">
        <json child="lexicalJsonData" default-collapsed="false" type="object"></json>
    </div>
</div>

<button class="btn btn-primary pull-right" style="margin-left:10px;" ng-click="generateMatrix()">Next...</button>
