<h1 style="margin-left:15px;">Matrix</h1>
<div class="col-md-12 row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Parent Concept Id</th>
                <th ng-repeat="(key, value) in headers">{{value}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="(key, value) in headers"></td>
            </tr>
        </tbody>
    </table>
</div>